@{
    ViewBag.Title = "Contact";
}



<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- basic table -->
    <div class="alert alert-success" role="alert">
        <strong class="text-capitalize">NetCoders Pvt. Ltd.</strong>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <address>
                        11, Ashok Vihar Colony<br />
                        Sector 3, UDPR - 000000000<br />
                        <abbr title="Phone">P:</abbr>
                        0294-909089
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!--basic table end--->
</div>
